/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --content-page-color: var(--accent-color);
  --color-title-decor: var(--bg-color);
  --btn-color:rgba(255, 0, 112, 0.4);
  --rec-display: inherit;
}