/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #FFF1F7;
    --rec-display: none;
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
  }

  .header__theme-menu-button_type_dark {
    outline: none;
  }

  .header__theme-menu-button_active {
    pointer-events: none;
    outline: 1px solid currentColor;
  }

  .content__title {
    color: var(--text-color);
  }
} 