/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --btn-color: rgba(50, 49, 45, 0.4);
  --rec-display: none;
  --content-page-color: var(--text-color);
  --color-title-decor: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #FFF1F7;
    --btn-color: rgba(50, 49, 45, 0.4);
    --rec-display: none;
    --content-page-color: var(--text-color);
    --color-title-decor: var(--text-color);
  }
} 