/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--main-font-family, 'Courier New', monospace);
  font-size: var(--main-text-size);
  line-height: var(--main-lh);
  font-weight: var(--text-normal);
  color: var(--text-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
}


/* header */
.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  z-index: 1;
  height: 100vh;
  min-block-size: 668px;
  padding: 10px;
  margin-bottom: 40px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  color: var(--content-page-color);
  border-width: 1px 1px 0 0;
  border-style: solid;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  color: var(--content-page-color);
  border-width: 0 0 1px 1px;
  border-style: solid;
}

.header__decoration-item {
  display: var(--rec-display);
  top: 10px;
  right: 38px;
  position: absolute;
  color: var(--accent-color);
}

.header__decoration-item::after {
  content: '';
  top: 8px;
  left: 44px;
  width: 9px;
  height: 9px;
  color: var(--accent-color);
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
  position: absolute;
}

.header__theme-menu {
  align-self: center;
  justify-self: right;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.header__theme-menu-button {
  color: var(--content-page-color);
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  padding: 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--content-page-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--content-page-color);
}

.header__title {
  font-size: var(--mb-title-size);
  line-height: 83%;
  font-weight: var(--text-bold);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  align-self: center;
}

.title-decor {
  font-weight: var(--text-bold);
  background-color: var(--accent-color);
  color: var(--color-title-decor);
}

/* Основной контент */
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
  padding: 0 10px;
}

.content__title {
  font-size: var(--main-text-size);
  font-weight: var(--text-bold);
  color: var(--content-page-color);
}

.content__wrapper {
  display: grid;
  gap: 20px;
}

.content__subtitle {
  font-size: var(--main-text-size);
}

.cards {
  display: grid;
  gap: 20px;
}

.cards__item {
  display: grid;
  gap: 10px;
  align-items: start;
  align-self: flex-start;
}

.cards__title {
  font-size: var(--main-text-size);
}

.title-normal {
  font-weight: var(--text-normal);
}

.text-shadow {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-shadow:hover {
  text-decoration: none; 
  border-bottom: 1px solid currentColor; 
}

.text-shadow:focus {
  outline: none;
}

.text-shadow:focus-visible {
  outline: 1px solid currentColor;
}

/* gallery */
.gallery {
  display: grid;
  gap: 10px;
  padding: 0 10px;
  margin-bottom: 40px;
}

.gallery__title {
  font-size: var(--main-text-size);
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 355px);
  grid-template-rows: 142px 1fr 237px 1fr 237px;
  gap: 10px;
}

.gallery__image {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  display: block;
}


/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  height: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.footer__title {
  font-size: var(--mb-title-size);
  line-height: 83%;
  font-weight: var(--text-bold);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* media >=768px */
@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    min-block-size: 1024px;
    padding: 20px;
    margin-bottom: 60px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__decoration-item {
    top: 20px;
    right: 48px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__title {
    grid-column: span  2;
    grid-row: 2;
    font-size: var(--desktop-title-size);
    margin-left: -20px;
  }

  .header__text {
    grid-column: 2;
    grid-row: 3;
    justify-self: right;
    max-inline-size: 364px;
  }

  .content {
    flex-direction: row;
    padding: 0 20px;
    margin-bottom: 80px;
  }

  .section-reasons {
    flex-direction: column;
  }

  .section-reasons .content__title {
    max-inline-size: 236px;
  }

  .content__title {
    min-inline-size: 236px;
  }

  .gallery {
    padding: 0 20px;
    margin-bottom: 60px;
    gap: 20px;
  }

  .gallery__list {
    grid-template-columns: repeat(auto-fit, 229px);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .img-sunset {
    grid-column: span 2;
    grid-row: 1;
  }

  .img-ice-cream {
    grid-column: 3;
    grid-row: span 2;
  }

  .img-tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .img-books {
    grid-column: 2;
    grid-row: 2;
  }

  .img-street {
    grid-column: span 2;
    grid-row: 3;
  }

  .footer {
    padding: 20px;
    min-block-size: 1024px;
  }

  .footer__title {
    font-size: var(--desktop-title-size);
  }
}

/* media >=1024px */
@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }
  
  .header__theme-menu {
    grid-column: 1 / 3;
    align-self: flex-start;
    justify-self: center;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: var(--desktop-title-size);
  }
  
  .header__text {
    max-inline-size: 491px;
  }

  .content__title {
    min-inline-size: 315px;
  }

 .section-reasons .content__title {
    max-inline-size: 315px;
  }

  .section-reasons .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__list {
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    grid-template-rows: 260px 315px 433px;
  }

  .footer {
    min-block-size: 768px;
  }

  .footer__title {
    font-size: var(--desktop-title-size);
  }
}