/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font-family: 'IBM Plex mono';
  --main-text-size: 18px;
  --text-normal: 400;
  --text-bold: 700;
  --main-lh: 23.4px;
  --mb-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --desktop-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --content-page-color: var(--accent-color);
  --color-title-decor: var(--bg-color);
  --btn-color:rgba(255, 0, 112, 0.4);
  --rec-display: inherit;
}
